/* --- BASELINE --- */

.baseline {
    border-style: solid;
    border-color: #bbb7b7;
}

.baseline h1 {
    font-size: 30px;
    margin-left: 1%;
}

.baseline p {
    font-size: 22px;
    margin-left: 1%;
    margin-top: 5%;
}


/* --- PRODUITS POPULAIRES --- */

.populaire {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* --- PRODUITS DE SAISON --- */

.titre {
    font-size: 30px;
    margin-top: .5em;
    text-align: center;
}

.bouton-vert {
    margin: 40px auto;
}
