/* --- PAGES EN GENERAL --- */

body {
    margin: 0;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}



/* --- NAVIGATION --- */

nav {
    display: flex;
    flex-direction: column;
    background-color: #e9e7e7;
}

nav .bas, nav .haut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50vw;
    transform: translateX(-50%);
}

nav .haut a {
    color: black;
    text-decoration: none;
}

nav .haut img.item {
	height: 100px;
}

nav .haut .item {
    margin: 0 1vw;
}

nav .haut .panier {
    height: 50px;
    margin: 0 1vw;
}

nav .bas {
    height: 50px;
}

nav .bas .item {
    margin: 0 1vw;
}

nav .bas a {
    text-decoration: none;
    color: #13a527;
    font-size: 20px;
}

nav .bas .bouton-orange {
    background-color: #f8a62c;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
}

nav .bas a:hover {
    text-decoration: underline;
}

nav .bas .bouton-orange:hover {
    background-color: #da9227;
    text-decoration: none;
}

/* --- BASELINE --- */

.baseline{
    border-style: solid;
    border-color: #bbb7b7;
}

.baseline h1{
    font-size: 30px;
    margin-left: 1%;
}

.baseline p{
    font-size: 22px;
    margin-left: 1%;
    margin-top: 5%;
}


/* --- PRODUITS POPULAIRES --- */

.populaire{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.produit{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    border-style: solid;
    background-color: #bbb7b7;
    border-color: #bbb7b7;
    border-radius: 20px;
}

.produit p{
    font-size: 22px;
    text-align: center;
}


/* --- PRODUITS DE SAISON --- */

.index-h1{
    font-size: 30px;
    margin-top: 2%;
    text-align: center;
}

.saison{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.saison-ligne{
    display: flex;
    flex-direction: row;
}

.saison-ligne img{
    width: 70%;
    height: 70%;
}

.saison a{
    color:#13a527;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 40%;
}

#index-plus-produits{
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 45%;
}

#index-plus-produits:hover{
    font-size: 25px;
}



/* --- FORMULAIRE AJOUT PRODUIT --- */

/* Il y a sûrement plus simple pour tout centrer */

h1{
    margin-left: 42%;
    margin-right: 42%;
    margin-bottom: -2%;
}

.formulaire{
    background-color: rgb(226, 243, 243);
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.form-gauche{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.form-droite{
    display: flex;
    flex-direction: column;
    
}

.ensemble{
    display: flex;
    flex-direction: row;
}

.ensemble .part{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.formulaire input[type=submit]{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}

/* --- CONSULTER PRODUIT --- */

.consultation{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 5%;
}

.consultation img{
    background-color: rgb(170, 168, 168);
}

.description-produit{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

#titreProduitConsultation{
    font-size: 30px;
}

.consultation-bouttons{
    display: flex;
    flex-direction: row;
}

.consultation-bouttons input[type=text]{
    margin-right: 3%;
}

.consultation-bouttons input[type=button]{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #239e48;
    color: white;
    padding: 8px;
    border-color: #239e48;
    font-size: 18px;
}

/* --- PAGE DE RECHERCHE --- */

.recherche-nom{
    margin-left: 2%;
    margin-top: 2%;
}

/* --- CONSULTATION DU PANIER --- */

.panier-table{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
}

.panier-table table{
    border: 1px solid;
    text-align: center;
}

.panier-table td{
    border: 1px solid;
    width: 20%;
}

.panier-table img{
    width: 50%;
    height: 50%;
}

.panier-form-column{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.panier-form-column #prix-panier{
    margin-top: 20%;
    font-size: 20px;
}

.panier-form-column input[type=submit]{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}










/* --- FORMULAIRE INSCRIPTION --- */

.boite{
    width: 700px;
    height: 400px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

#inscription{
    display: block;
    position: relative;
    text-align: center;
    font-family: calibri;
    width:150px;
    height: 22px;
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22px;
    background: #fff;
}

.gauche{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    float: left;
    width: 300px;
    height: 200px;
    margin-top: 40px;
}

.droite{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    float: right;
    width: 300px;
    height: 200px;
    margin-top: 40px;
}

#prenom{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#emailadress{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#mdpConfirmation{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#check{
    display: flex;
    padding-top: 35px;
}

#check input[type=checkbox]{
    width: 22px;
    height: 22px;
    margin-left: 0px;
}

#check label{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.buttins {
    text-align: center;
}

.buttins input[type=button]{
    margin-top: 50px;
    height: 45px;
    width: 140px;
    font-size: 15px;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}

/* --- FORMULAIRE CONNEXION --- */

.box{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.connexion{
    display: block;
    position: relative;
    text-align: center;
    font-family: calibri;
    width: 150px;
    height: 22px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 175px;
    margin-top: -22px;
    background: #fff;
}

.email {
    margin-top: 30px;
    display: block;
    margin-left: 40px;
}

.email input[type=text]{
    width: 90%;
}

.email label{
    display: block;
    font-family: calibri;
    margin-top: 20px;
}
.bco{
    text-align: center;
}

.bco input[type=button]{
    margin-top: 50px;
    height: 45px;
    width: 120px;
    font-size: 15px;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}

#buttonCreerCompte{
    color: green;
    text-decoration: underline;
}


/* --- FRUITS / LEGUMES / COMPOSITIONS --- */

.produits-titre{
    margin-left: 2%;
}

.produits-table{
    margin-left: 2%;
}

.produits-table img{
    width: 70%;
    height: 70%;
}


/* --- A PROPOS --- */

.a-propos-text{
    border: solid 2px;
    border-radius: 20px;;
    margin: 3%;
}

.a-propos-text p{
    margin-left: 2%;
    margin-top: 2%;
}