body {
    margin: 0;
}

/* --- NAVIGATION --- */

nav{
    display: flex;
    flex-direction: column;
    background-color: #e9e7e7;
}

nav .haut{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

nav h1.item {
	margin-bottom: 10px; /* FAUDRAIT TROUVER UN MEILLEUR MOYEN DE LE METTRE AU MILLIEU */
}

nav img.item {
	height: 100px;
}

nav .haut .item{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

nav .haut .img-panier{
    height: 50px;
}

nav .bas .item{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

nav .bas a{
    text-decoration: none;
    color:#13a527;
    font-size: 20px;
}

nav .bas input[type=button]{
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}

/* --- BASELINE --- */

.baseline{
    border-style: solid;
    border-color: #bbb7b7;
}

.baseline h1{
    font-size: 30px;
    margin-left: 1%;
}


/* --- PRODUITS POPULAIRES --- */

.populaire{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.produit{
    margin-left: 2%;
    margin-right: 2%;
}

.produit img{
    background-color: #bbb7b7;
}

.produit p{
    font-size: 22px;
}


/* --- PRODUITS DE SAISON --- */

.saison{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.saison-ligne{
    display: flex;
    flex-direction: row;
}

.saison-ligne img{
    width: 70%;
    height: 70%;
}

.saison a{
    color:#13a527;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 40%;
}

/* --- FORMULAIRE AJOUT PRODUIT --- */

/* Il y a sûrement plus simple pour tout centrer */

h1{
    margin-left: 42%;
    margin-right: 42%;
    margin-bottom: -2%;
}

.formulaire{
    background-color: rgb(226, 243, 243);
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.form-gauche{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.form-droite{
    display: flex;
    flex-direction: column;
    
}

.ensemble{
    display: flex;
    flex-direction: row;
}

.ensemble .part{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.formulaire input[type=submit]{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}

/* --- CONSULTER PRODUIT --- */

.consultation{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 5%;
}

.consultation img{
    background-color: rgb(170, 168, 168);
}

.description-produit{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

#titreProduitConsultation{
    font-size: 30px;
}

.consultation-bouttons{
    display: flex;
    flex-direction: row;
}

.consultation-bouttons input[type=text]{
    margin-right: 3%;
}

.consultation-bouttons input[type=button]{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #239e48;
    color: white;
    padding: 8px;
    border-color: #239e48;
    font-size: 18px;
}

/* --- PAGE DE RECHERCHE --- */

.recherche-nom{
    margin-left: 2%;
    margin-top: 2%;
}

/* --- CONSULTATION DU PANIER --- */

.panier-table{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
}

.panier-table table{
    border: 1px solid;
    text-align: center;
}

.panier-table td{
    border: 1px solid;
    width: 20%;
}

.panier-table img{
    width: 50%;
    height: 50%;
}

.panier-form-column{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.panier-form-column #prix-panier{
    margin-top: 20%;
    font-size: 20px;
}

.panier-form-column input[type=submit]{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}

/* --- FORMULAIRE CONNEXION --- */

.box{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.connexion{
    display: block;
    position: relative;
    text-align: center;
    font-family: calibri;
    width: 150px;
    height: 22px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 175px;
    margin-top: -22px;
    background: #fff;
}

.email {
    margin-top: 30px;
    display: block;
    margin-left: 40px;
}

.email input[type=text]{
    width: 90%;
}

.email label{
    display: block;
    font-family: calibri;
    margin-top: 20px;
}
.bco{
    text-align: center;
}

.bco input[type=button]{
    margin-top: 50px;
    height: 45px;
    width: 120px;
    font-size: 15px;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}

#buttonCreerCompte{
    color: green;
    text-decoration: underline;
}


/* --- FRUITS / LEGUMES / COMPOSITIONS --- */

.produits-titre{
    margin-left: 2%;
}

.produits-table{
    margin-left: 2%;
}

.produits-table img{
    width: 70%;
    height: 70%;
}