/* --- FORMULAIRE --- */

h1{
    margin-left: 42%;
    margin-right: 42%;
    margin-bottom: -2.5%;
}

.formulaire{
    background-color: rgb(226, 243, 243);
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.form-gauche{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.form-droite{
    display: flex;
    flex-direction: column;
    
}

.ensemble{
    display: flex;
    flex-direction: row;
}

.ensemble .part{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.formulaire input[type=submit]{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f8a62c;
    color: white;
    padding: 8px;
    border-color: #f8a62c;
}
